.boton{
    width: 130px; height: 40px;
    background-color:rgb(212, 32, 32);
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 1s;
    justify-content: center;
    
}

.boton p{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.2em;

}

.boton2{
    width: 180px; height: 40px;
    background-color:rgb(212, 32, 32);
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 1s;
}

.boton2 p{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.2em;

}



.label{
    text-align: center;
}

.contenedor{
    height: 10em;
    
}
.contenedor1{
    float:left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height: 400px;
    width: 350px;
    border: 0.2em solid black;
    border-radius: 2em;
     
}


