.boton{
    width: 130px; height: 40px;
    background-color:rgb(212, 32, 32);
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 1s;
    justify-content: center;
    

}

.boton p{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.2em;

}

.boton2{
    width: 180px; height: 40px;
    background-color:rgb(212, 32, 32);
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 1s;
}

.boton2 p{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.2em;

}

.celdas{
    width: 450px;
    border-radius: .5em;
    float:none;
    text-align: center;
   
}

.label{
    text-align: center;
}

.contenedor{
    height: 10em;
    


}
.contenedor1{
    float:left;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    height: 400px;
    width: 350px;
    border: 0.2em solid black;
    border-radius: 2em;
    padding: .2em;
    position: relative;
    top: 30px;
    left: 90px;
    
}

.contenedor2{
    float:left;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    height: 400px;
    width: 350px;
    border: 0.2em solid black;
    border-radius: 2em;
    padding: .2em;
    position: relative;
    top: 30px;
    left: 150px;
    
    
}

.contenedor3{
    float:left;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    height: 400px;
    width: 350px;
    border: 0.2em solid black;
    border-radius: 2em;
    padding: .2em;
    position: relative;
    top: 30px;
    left: 200px;
    
}
